<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>bean.admin.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>bean.admin.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookmarkController</servlet-name>
        <servlet-class>bean.BookmarkController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionJoiningController</servlet-name>
        <servlet-class>bean.SessionJoiningController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CountVisitorController</servlet-name>
        <servlet-class>bean.CountVisitorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateUserController</servlet-name>
        <servlet-class>bean.admin.AdminUpdateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAccountController</servlet-name>
        <servlet-class>bean.admin.AdminAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateAdminController</servlet-name>
        <servlet-class>bean.admin.AdminUpdateAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddAdminController</servlet-name>
        <servlet-class>bean.admin.AdminAddAdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookmarkController</servlet-name>
        <url-pattern>/BookmarkController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionJoiningController</servlet-name>
        <url-pattern>/SessionJoiningController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CountVisitorController</servlet-name>
        <url-pattern>/CountVisitorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateUserController</servlet-name>
        <url-pattern>/AdminUpdateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAccountController</servlet-name>
        <url-pattern>/AdminAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateAdminController</servlet-name>
        <url-pattern>/AdminUpdateAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddAdminController</servlet-name>
        <url-pattern>/AdminAddAdminController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
